<nav class="navbar navbar-expand-lg navbar-light bg-light">
    

    <a class="navbar-brand" href="index.html">
      <img src="../../../assets/images/logo.png" height="65px" alt="kerala"></a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/districts">Districts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact </a>
          </li>
        
      </ul>
     

      <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
          <a routerLink="/login">
          <button class="btn btn-outline-success me-2" type="button" ><b>Login</b></button></a>
          <a routerLink="/signup">
          <button class="btn btn-outline-success me-1" type="button" routerLink=""><b>Sign Up</b></button></a>
        
        </form>
      </nav>
      

    </div>

</nav>


  
  