<div class="container">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/image1.png" class="d-block w-100" height="600px" width="500px" alt="kerala">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/image7.jpg" class="d-block w-100" height="700px" width="500px" alt="Taj Mahal">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/image4.jpg" class="d-block w-100"  height="600px" width="500px"  alt="Amritsar">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
<br>
<div class="container" >
<h3 class="text-center" > KERALA TOURISM </h3>

<p ><br>Kerala, one of the most beautiful states in India situated in the southwest corner of the country is blessed with the greenery of nature. Kerala is one of the most popular tourist destinations. Kerala has 14 districts with Thiruvananthapuram (Trivandrum) as the capital. The Port city Kochi and Kozhikode are the other two major cities in Kerala. There are three airports providing international as well as domestic connections.

  <br><br>The state is spread in an area of 38,863 square kilometer with a population of 31.8 million. Languages spoken are Malayalam, Hindi and English. In literacy, Kerala stands first among the Indian states with a literacy rate of 90.9%. Kerala is a secular place. Religion in Kerala is a mixture of different faiths; Hinduism, Islam and Christianity being the most significant among them.
  
 <br><br> The climate in Kerala is tropical. The summer (February - May) and Monsoon (June - August) are the seasons specifically experienced here. The best time to visit Kerala is between August and March. Important food crops in Kerala are Rice and Tapioca. Kerala is a major producer of coconut, rubber, pepper, cardamom, cashew, coffee, tea, ginger and cocoa. Spices like cinnamon and cloves are cultivated in Kerala.
  
  <br><br>Coir products, marine products, handloom and khadi are the major industries in Kerala. Tourism is the fast growing industry in Kerala. So many people are working in tourism industry. The uniqueness of this place draws thousands of tourists every year to this magical land.
  
 <br><br> Kerala has many wonderful art forms and festivals. Kathakali, a classical dance form of Kerala attracts so many tourists. Kalaripayattu the martial art form of Kerala is also well known inside and outside the country. Kerala is the land of several colourful festivals. Be it the state festival Onam or the temple festival Pooram people in Kerala celebrate all the festivals with great passion and spirit.
  
  
  <br><br>Kerala is the land of Ayurveda which is a unique and indispensable branch of medicine. Ayurveda not only refreshes your body but also refreshes your soul. The period between April to August is said to be the best time to get Ayurveda treatment. Kerala never disappoints you. There are so many varieties of attractions like beaches, backwaters, waterfalls and wildlife. Kerala is the one place where you can experience the simplicity of village life and wildlife in close quarters.</p>
</div>    
  <br>
<h3 class="text-center">MUST VISIT DESTINATIONS</h3>
<br>
<br>
 

      <div class-="container">
  <div class="row">
    @for(item of districts ; track item.id){
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">
              {{item.description}}...
             </p>
            <a [routerLink]="['/districts',item.id]" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    }
    </div>
            
          
<br><br><br>